.header {
  position: relative;
  background-color: @header-bg-color;
  width: 1170px;
  padding-top: 55px;
  padding-bottom: 48px;

  @media (max-width: @tablet-width) {
    width: 100%;
  }

  @media (max-width: @mobile-width) {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

.header__navigation {
  margin-left: 155px;
  margin-right: 55px;

  @media (max-width: @tablet-width) {
    margin-left: 55px;
  }

  @media (max-width: @mobile-width) {
    margin: 0 auto;
  }
}