.slider {
  position: relative;
  width: 1170px;
  // height: 176px;
}

.slider__slide {
  width: 1170px;
  height: 176px;
}

.slider__slide--first {
  background-color: #7029CB;
}

.slider__slide--second {
  background-color: spin(#7029CB, -90);
  position: absolute;
  top: 0;
  display: none;
}

.slider__popup-btn {
  box-shadow: 2px 5px 10px #497957;
  position: absolute;
  top: 52px;
  right: 410px;
}

.slider__arrow {
  position: absolute;
  top: 60px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
}

.slider__arrow--prev {
  transform: rotate(135deg);
  left: 61px;
}

.slider__arrow--next {
  transform: rotate(-45deg);
  right: 61px;
}